body {
    padding: 0;
    margin: 0;
    background-color: #531fb3;
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
}
.page_content {
    margin: 0 .10em
}
div {
    display: block;
    margin-left: 150px
}
.signupform{
    margin-top: 1em;
    text-align: center;
}
